@*@model CourseApp304.Models.Request
@{
    Layout = "_Layout";
}

<div class="bg-info text-white">
    @Model.Name
    <br /> <hr />
    @Model.Email
    <br /> <hr />
    @Model.Phone
    <br /> <hr />
    @Model.Message
    <br /> <hr />
</div>*@
    

<div class="p-4 text-center">
    <h2>The Course is going to be  start soon.</h2>
    <h4>Join Us!</h4>
    <a asp-action="AddRequest" class="btn btn-info">Create a Request</a>
</div>