@model CourseApp304.Models.Request
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h2>Thank you @Model.Name</h2>
    <h4>
        Our course is going to be nice!
    </h4>
    <a asp-action="List" class="btn btn-primary">
        Check who are coming...
    </a>
    <a asp-action="AddRequest" class="btn btn-info">Create New</a>
</div>

